<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Digital Bricks</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/perfil" class="brand-logo">Digital Bricks</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/cursos">Cursos</a></li>

      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Mi Perfil</h1>
        <br>
        <h1>{{name}}</h1>
        <h5 class="header col s12 light">Nombre de usuario: </h5>
        <h5 class="header col s12 light">Nombre: </h5>
        <h5 class="header col s12 light">Apellido: </h5>
        <h5 class="header col s12 light">Correo: </h5>
        <h5 class="header col s12 light">Edad: </h5>
        <h5 class="header col s12 light">Cusos completos: </h5>
      <br><br>
    </div>
  </div>

 
  

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Sobre nosotros</h5>
          <p class="grey-text text-lighten-4">Buscamos un mundo donde la educación tecnológica sea de alto impacto para niños y niñas de todo el mundo, teniendo a la mano herramientas que ayudden a comprender estos temas para su desarrollo</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3">Equipo 10</a>
      </div>
    </div>
  </footer>

  <div class="nav">
    <div class="nav-id">
      <div class="nav-title"> </div>
    </div>
  </div>
  <!--  Scripts-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../controllers/auth.js"></script>
  <script src="../routes/pages.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
